 <table class="table">
   <thead>
     <tr>
       <th scope="col">{{title}}</th>
       <th scope="col">Class Description</th>
       <th scope="col">Credits</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th scope="row">1</th>
       <td>Introduction to Computer Science I</td>
       <td>3</td>
     </tr>
     <tr>
       <th scope="row">2</th>
       <td>Introduction to Computer Science II</td>
       <td>3</td>
     </tr>
     <tr>
       <th scope="row">3</th>
       <td>Data Structures</td>
       <td>3</td>
     </tr>
   </tbody>
 </table>
