.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 100%;
  width: 100%;
  margin: 20px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}
